html {
    background: #f8f8f8;
}

.content {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.card-container {
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: repeat(4, auto);
    row-gap: 8px;
    column-gap: 8px;
    width: fit-content;
}

.card {
    width: 124px;
    height: 124px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
}

.matched-card {
    background-color: greenyellow;
}
